*{
    /*background-color: #222;*/
    margin: 0;
    padding: 0;
    box-shadow: border-box;
    color: #f9f1f1;
    box-sizing: border-box;
}
nav .logo img{
    object-fit: contain;
    max-width: 10%;
}
nav {
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;
}
nav .action{
    display: flex;
    margin: 10px 20px;
}
nav .action .join_now{
    background-color:#e50914 ;
    color: hsl(0, 0%, 100%);
    margin: 0px 10px;
    width: 100px;
    padding: 2px 4px ;
    border: 1px solid #fff;
    border-radius: 2px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 600;
}
nav .action .join_now:hover{
    background-color: #fff;
    color: #111;
    transition: 0.8ms;
}
nav .action .sign_in{
    background: transparent;
    color: #fff;
    padding: 2px 4px;
    width: 100px;
    border-radius: 2px;
    border: 1px solid #fff;
}
nav .action .sign_in:hover{
    background-color: #fff;
    color: #111;
    transition: 0.8ms;
}
/*.name1{
    font-size:1rem;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    filter: drop-shadow(5px 5px 2px pink);
    color:yellow
    
}*/
/*.banner{
    background-image: url("https://occ-0-7275-3663.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABfKifMxxzLJt7q_b3OcVgOhuI5bHPnJyISd1MRVhZl1NeLid_TrwhdKtpseVDTC0p1nzXNfqMPw70o1tz7reLPjv3D5D3ASF1Sqd.jpg?r=51d&quot;");
    background-size: cover;
    background-position:center center;
    max-width: 100%;
    background-repeat: no-repeat;
    height: 600px;
}*/
.banner{
    background:linear-gradient(90deg, #181818 10%, hsla(0, 0%, 9%, .98) 20%, hsla(0, 0%, 9%, .97) 25%, hsla(0, 0%, 9%, .95) 35%, hsla(0, 0%, 9%, .94) 40%, hsla(0, 0%, 9%, .92) 45%, hsla(0, 0%, 9%, .9) 50%, hsla(0, 0%, 9%, .87) 55%, hsla(0, 0%, 9%, .82) 60%, hsla(0, 0%, 9%, .75) 65%, hsla(0, 0%, 9%, .63) 70%, hsla(0, 0%, 9%, .45) 75%, hsla(0, 0%, 9%, .27) 80%, hsla(0, 0%, 9%, .15) 85%, hsla(0, 0%, 9%, .08) 90%, hsla(0, 0%, 9%, .03) 95%, hsla(0, 0%, 9%, 0)),url("https://occ-0-7275-3663.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABfKifMxxzLJt7q_b3OcVgOhuI5bHPnJyISd1MRVhZl1NeLid_TrwhdKtpseVDTC0p1nzXNfqMPw70o1tz7reLPjv3D5D3ASF1Sqd.jpg?r=51d&quot;");
    background-size: cover;
    background-position:center center;
    max-width: 100%;
    background-repeat: no-repeat;
    height: 600px;  
}
.posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    margin: 1% 0.5%;

}
.posters::-webkit-scrollbar{
    display: none;
}
.poster{
    margin: 0% 0.5%;
    border-radius: 0.5%;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    padding: 2% 0% 0% 0.4%;
}
h3{
    text-align: center;
    font-weight: 400;
    font-size: medium;
    padding: 2% 0%;
}
/**{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}*/
body{
    background-color:#111;
    color: #fff; 
}
.bannercontent .bannertitle img{
    object-fit: contain;/*autumatically fit items with respective contain*/
    max-width: 50%;
    
}
.bannercontent{
    padding: 10% 8%;
}
.bannercontent .bannertitle h1{
    font-size: 200%;
    padding: 3% 0% 2% 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.bannercontent .bannertitle h2{
    font-size: 100%;
    padding: 1% 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.bannercontent .bannertitle p{
    font-size: 100%;
    max-width: 60%;
    padding: 1% 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.bannercontent .bannertitle span{
    padding: 0% 1%;
}
.bannercontent .bannertitle  .user1 {
    border: 2px solid #a3a3a3;
    padding: 2px 4px;
}
footer{
    padding: 50px 4% 10px ;
    color: #666;
}
footer h1{
    font-size: 1.2rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 30px 0;
    color: #666;
}
footer .row{
    display: flex;
    align-items: start;
    padding: 10px 0px;
}
footer .col{
    margin: 10px 50px;
}
footer .col a{
    /*text-decoration: none; to avoid the underlines */
    color: #666;
    font-size: 0.8rem;
    padding: 8px ;
    display: block;
}
footer button{
    background-color: #111;
    border-radius: 1px;
    border: solid 1px #fff;
    box-shadow: none;
    box-sizing: none;
    color: #666;
}

select{
    background-color: #111;
    border-radius: none;
    border: none;
    color: #666;
}